@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css');

body {
    background-color: #474e5d;
    height: 662px;
}
#dump {
    height: 10%;
    background-color: #474e5d;
    width: 100%;
}
#container {
    margin-left: 20%;
    margin-right: 20%;
    background-color: #FFF;
    padding: 20px;
    text-align: center;
    
}
#DetailsTable {
    text-align: center;
}

th {
    text-align: center;
    font-weight: bolder;
    border: 2px solid black;
}
#editbtn { 
    width: 250px; 
    color: white;
    font-size: 16px;
    padding: 12px 18px;
    background-color: #4CAF50;
    border: none;
    cursor: pointer;
    border-radius : 20px; 
} 
#eye {
    margin-top: -22px;
    margin-right: 20px;
    float: right;
    cursor: pointer;
}
input[type=text], input[type=password]  {
    width: 100%;
    padding: 4px;
    margin-right: 80px; 
    display: inline-block;
    border: none;
    background: transparent;
    text-align: center;
  }