body {
    background-color: #474e5d;
}
#upper {
    
    width: 70%;
}
#container {
    margin-left: 20%;
    margin-right: 20%;
    background-color: #FFF;
    padding: 20px;
    
}
#AboveForm {
    margin-left: 90px;    
    font-weight: bolder;
}

input[type=text], input[type=password]  {
    width: 200%;
    padding: 14px;
    margin-right: 80px; 
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  #formdata {
    margin-left: 80px;

  }
  #submitbtn { 
    width: 250px; 
    margin-left: 65%;
    border-radius: 20px;
    color: white;
    font-size: 16px;
    padding: 12px 18px;
    border: none;
    cursor: pointer;
} 
#eye {
    margin-top: -25px;
    margin-right: -260px;
    float: right;
    cursor: pointer;
}