<body>
  <div id="container">
    <div id="upper">
      <h2 id="AboveForm" appColorDirective> SignUp </h2>
      <p appColorDirective id="AboveForm">Note - All fields are mandatory</p>
    </div>
    <hr/>
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <form id="formdata" [formGroup]="RegisterForm" (ngSubmit)="OnSubmit()">
          <div class="form-group">
            <label appColorDirective>
              First Name:
              <input type="text" class="form-control" formControlName="firstname" />
              <div class="alert alert-danger" *ngIf="!RegisterForm.controls['firstname'].valid  &&  
                  (RegisterForm.controls['firstname'].touch||RegisterForm.controls['firstname'].dirty)">
                <div *ngIf="RegisterForm.controls['firstname'].hasError('required')">First name is required</div>
                <div *ngIf="RegisterForm.controls['firstname'].hasError('pattern')">Please enter characters only</div>
              </div>
            </label>
          </div>

          <div class="form-group">
            <label appColorDirective>
              Last Name:
              <input type="text" class="form-control" formControlName="lastname" />
              <div class="alert alert-danger" *ngIf="!RegisterForm.controls['lastname'].valid  &&  
                  (RegisterForm.controls['lastname'].touch||RegisterForm.controls['lastname'].dirty)">
                <div *ngIf="RegisterForm.controls['lastname'].hasError('required')">Last name is required</div>
                <div *ngIf="RegisterForm.controls['lastname'].hasError('pattern')">Please enter characters only</div>
              </div>
            </label>
          </div>

          <div class="form-group">
            <label appColorDirective>
              Gender:
              <input type="text" class="form-control" maxlength="1" formControlName="gender">
              <div class="alert alert-danger" *ngIf="!RegisterForm.controls['gender'].valid  &&  
                  (RegisterForm.controls['gender'].touch||RegisterForm.controls['gender'].dirty)">
                <div *ngIf="RegisterForm.controls['gender'].hasError('required')">Please enter your gender</div>
                <div *ngIf="RegisterForm.controls['gender'].hasError('pattern')">Only M or F</div>
              </div>
            </label>
          </div>

          <div class="form-group">
            <label appColorDirective>
              Contact Number:
              <input type="text" class="form-control" maxlength="10" formControlName="contactnum">
              <div class="alert alert-danger" *ngIf="!RegisterForm.controls['contactnum'].valid  &&  
                    (RegisterForm.controls['contactnum'].touch||RegisterForm.controls['contactnum'].dirty)">
                <div *ngIf="RegisterForm.controls['contactnum'].hasError('required')">Please enter contact number</div>
                <div *ngIf="RegisterForm.controls['contactnum'].hasError('pattern')">Only digits</div>
              </div>
            </label>
          </div>

          <div class="form-group">
            <label appColorDirective>
              Employee ID:
              <input type="text" class="form-control" maxlength="4" formControlName="empid">
              <div class="alert alert-danger" *ngIf="!RegisterForm.controls['empid'].valid  &&  
                      (RegisterForm.controls['empid'].touch||RegisterForm.controls['empid'].dirty)">
                <div *ngIf="RegisterForm.controls['empid'].hasError('required')">Please enter employee id</div>
                <div *ngIf="RegisterForm.controls['empid'].hasError('pattern')">Only digits</div>
              </div>
            </label>
          </div>

          <div class="form-group">
            <label appColorDirective>
              Password:
                <input type="password" id="id" class="form-control" minlength="8" maxlength="16" formControlName="password">
                <span id="eye" class="glyphicon glyphicon-eye-open" (click)='changeID("id")'></span>
              <div class="alert alert-danger" *ngIf="!RegisterForm.controls['password'].valid  &&  
                        (RegisterForm.controls['password'].touch||RegisterForm.controls['password'].dirty)">
                <div *ngIf="RegisterForm.controls['password'].hasError('required')">Please enter password</div>
                <div *ngIf="RegisterForm.controls['password'].hasError('pattern')">Password must contain at least one Uppercase character, one Smallcase character, one special character and
                  one digit </div>
              </div>
            </label>
          </div>

          <div class="form-group">
            <label appColorDirective>
              Confirm password:
              <input type="password" class="form-control" minlength="8" maxlength="16" formControlName="confirmpassword" (keyup)="CheckPassword()">
              <div class="alert alert-danger" *ngIf="!RegisterForm.controls['confirmpassword'].valid  &&  
                          (RegisterForm.controls['confirmpassword'].touch||RegisterForm.controls['confirmpassword'].dirty)">
                <div *ngIf="RegisterForm.controls['confirmpassword'].hasError('required')">Please enter password again</div>
                <div *ngIf="RegisterForm.controls['confirmpassword'].hasError('pattern')">Both passwords must match </div>
              </div>
            </label>
          </div>
          <button type="submit" id="submitbtn" [disabled]="!RegisterForm.valid || !check"  
          [ngStyle] = "{ 'background-color': RegisterForm.valid && check ? 'green' : 'red' }" >Submit</button>
        </form>
      </div>
    </div>
  </div>
</body>

<router-outlet></router-outlet>
